<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319638804149-chlhpri45ap0e1a547o3kflfsjbhf6uv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319638804149-chlhpri45ap0e1a547o3kflfsjbhf6uv</string>
	<key>API_KEY</key>
	<string>AIzaSyBhXHfV9tPl5JEbA5Fe9uVIJj7hE1_mHBs</string>
	<key>GCM_SENDER_ID</key>
	<string>319638804149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bbanpro.solution4Setting</string>
	<key>PROJECT_ID</key>
	<string>settingsolution</string>
	<key>STORAGE_BUCKET</key>
	<string>settingsolution.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319638804149:ios:504ad26c3e5c7173d8d0fc</string>
	<key>DATABASE_URL</key>
	<string>https://settingsolution.firebaseio.com</string>
</dict>
</plist>